body {
			font-size: 1.1em;
			overflow-x: hidden;
		}

		.btn {
			margin-left: 30px;
			box-shadow: 5px 8px 10px rgba(0,0,0,0.3);
			border-radius: 10px;
			color: black;
			border-radius: 0;
		}

		.btn-md {
			color: white;
		}

		.btn-view {
			background-color: #4A98A1;
		}

		.navbar-brand {
			width: 7%;
		}

		.navbar-nav {
			margin-left: 20%;
			top: 15%;
		}

		.nav-link {
			justify-content: space-between;
		}

		.nav-link:hover {
			border-bottom: 4px solid #17a2b8;

		}

		.active {
			border-bottom: 4px solid #17a2b8;
			font-weight: 800;
		}

		.main-page {
			margin: 0 20%;
		}

		.todate1 {
			left: 20px;
		}

		.powerbtn {
			width: 30%;
			margin-left: 30px;
			cursor: pointer;
			margin-top: -3%;
		}

		.media-logo {
			margin-left: 85%;
			margin-top: -2%;
		}

		.footer-space {
			margin-left: 25px;
		}

		.history {
			height: 70px;
			background: #eee;
			border-top: 1.5px solid #C8E0E8;
		}

		.wechat{
			width: 5%;
			margin-left: 90%;
		}

		footer {
			background-color: #4A98A1;
			margin-top: 40px;
			height: 50px;
			width: 100%;
			color: white;
		}

		.footer-content {
			position: absolute;
			margin-top: 0.7em;
			margin-left: 3em;
			overflow: hidden;
			width: 100%;
			text-overflow: ellipsis;
		}

		.tab-content {
			position: absolute;
			margin-top: 1em;
			margin-left: 3em;
		}

		span {
			color: white;
		}

		.bg-light {
			box-shadow: none;
		}

		.duration {
			margin-left: 28px;
			color: black;
		}

		.title {
			margin-left: 13px;
		}

		.navlink-space {
			margin-left: 60px;
		}

		@media screen and (min-width: 320px) and (max-width: 878px) {
			.footer-content {
				margin-left: 0;
				font-size: 0.6em;
			}

			.footer-space {
			margin-left: 0;
		}

			.media-logo {
				margin-top: -1.4em;
			}

			.copyright {
				margin-top: 1em;
				margin-left: 1em;
			}

			.navbar-brand{
				width: 25%;
			}

			.powerbtn {
				width: 30%;
				margin-top: 10px;
			}

			.todate1 {
			left: 0;
			}
		}

		@media screen and (min-width: 693px) {
			.to-date {
				margin-left: 3px;
			}
		}

		@media screen and (min-width: 830px) {
			.to-date {
				margin-left: 80px;
			}
		}

		@media screen and (min-width: 768px) {
			footer {
				width: 100%;
			}
		}
